name: Pipeline CI-CD Complet


on:
  push:
    branches: [ "main" ] 

jobs:
 
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer l'environnement (Node.js)
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installer les dépendances
        run: npm install

      - name: Lancer les tests
        run: npm test 

  
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test 
    
    steps:
      - name: Déploiement vers le serveur
        run: |
          echo "Connexion sécurisée en cours..."
          echo "Transfert des fichiers vers la production..."
          echo "Redémarrage de l'application..."
          echo "Succès : Votre site est en ligne !"